<div style="text-align:center" class="container">
    <p>form works!</p>
    <p>Student No: {{ RouteParameter > 0 ? RouteParameter : '--' }}</p>
    <div>
        <div>
            <mat-form-field>
                <mat-label>RegNo</mat-label><input matInput type="number" [disabled]="isDisable"
                    (change)="isDirty=true" (blur)="validateReg()" (click)="disablefn()" [(ngModel)]="student.regNo"
                    required #sreg="ngModel">
                <div *ngIf="sreg.invalid && sreg.touched">
                    Register Number required.
                </div>
                <div *ngIf="ValidRegNo">
                    Register Number invalid.
                </div>
            </mat-form-field>
            <br />
            <br />
            <mat-form-field>
                <div *ngIf="routeParameter"></div>
                <mat-label>Name</mat-label><input matInput type="text" (change)="isDirty=true"
                    [(ngModel)]="student.name" required #sname="ngModel">
                <div *ngIf="sname.touched && sname.invalid">
                    Name required.
                </div>
            </mat-form-field>
            <br />
            <br />
            <mat-form-field>
                <mat-label>Age</mat-label><input matInput type="number" (change)="isDirty=true"
                    [(ngModel)]="student.age" required #sage="ngModel">
                <div *ngIf="sage.touched && sage.invalid">
                    Age required.
                </div>
            </mat-form-field>
            <br />
            <br />
            <mat-form-field>
                <mat-label>Department</mat-label><input matInput type="text" (change)="isDirty=true"
                    [(ngModel)]="student.dept" required #sdept="ngModel">
                <div *ngIf="sdept.touched && sdept.invalid">
                    Dept required.
                </div>
            </mat-form-field>
            <br />
            <br />
            <div>
                <button mat-raised-button color="primary" routerLink="/students" routerLinkActive="router-link-active">
                    Cancel
                </button>
                <button mat-raised-button color="primary" type="submit" (click)="save(); isDirty=false">{{
                    RouteParameter > 0? 'Update' : 'Create' }}
                </button>
            </div>
        </div>
    </div>