<mat-menu #appMenu="matMenu">
  <div style="text-align:center">
    <button mat-menu-item color="accent" routerLink="/teachers">Teacher Info</button>
    <button mat-menu-item color="primary" routerLink="/students">Student Info</button>
  </div>
</mat-menu>
<button mat-flat-button color="accent" [matMenuTriggerFor]="appMenu">Menu</button>
<!--<div>
    <table style="width: 100%;">
      <tr>
        <td colspan="3">
          <div class="list-container">
            <app-teacher-list></app-teacher-list>
            <app-student-list></app-student-list>
          </div>
        </td>
      </tr>
      <tr> 
        <td style="width:15%; background-color: rgb(126, 34, 110); vertical-align: top;">
          <div class="form-container">
            <app-student-form></app-student-form>
            <app-teacher-form></app-teacher-form>
          </div>
        </td>
        <td>
          <div class="view-container">
            <router-outlet></router-outlet>
          </div>
        </td>
        <td style="width: 15%; background-color: rgb(126, 34, 110); vertical-align: top;">
          <div class="view-containers">
            <app-teacher-view></app-teacher-view>
            <app-student-view></app-student-view>
          </div>
        </td>
      </tr>
    </table>
  </div>-->
<router-outlet></router-outlet>