<div style="text-align:center" class="container">
    <div>
        <h1>{{heading}}</h1>
        <div class="body">
            Username:
            <input style="background-color:purple;" type={{typeName}} name="uname" id="uname" [(ngModel)]="uName">
            <br />
            <br />
            Password:
            <input style="background-color:purple;" type={{typeName1}} name="check" id="check" [(ngModel)]="passWord">
            <br />
            <br />
            <button type="submit" (click)="addInfo()">Login</button>
        </div>
    </div>
</div>
<tr>
    <div *ngFor="let elt of unameContainer">
        {{elt}}
    </div>
</tr>
<tr>
    <div *ngFor="let elt1 of passwordContainer">
        {{elt1}}
    </div>
</tr>
