<form>
    <div style="text-align:center" class="container">
        <div>
            <h1>{{heading}}</h1>
            <div class="body">
                Username:
                <input type="text" name="username" #uname [(ngModel)]="userName">
                <br />
                <br />
                Password:
                <input type="password" name="password" #check [(ngModel)]="passWord">
                <br />
                <br />
                <button (click)="login()">Login</button>
            </div>
        </div>
    </div>
    <table style="border:1px">
        <thead>
            <th>id</th>
            <th>Username</th>
            <th>password</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
                <div *ngFor="let elt of data">
                    <td>
                        {{elt.id + 1}}
                    </td>
                    <td>
                        {{elt.username}}
                    </td>
                    <td>
                        {{elt.password}}
                    </td>
                    <td>
                        <button (click)="edit()">Edit</button>
                    </td>
                    <td>
                        <button (click)="delete(elt.id)" >Delete</button>
                    </td>
                </div>
        </tbody>
    </table>