<div style="text-align: center" class="container">
<p>list works!</p>
<div>
    <input style="background-color: rgb(216, 230, 236); width:30%" type="text" name="search" [(ngModel)]="nameFilter" placeholder="search by name">
</div>
<button style="width:30%; background-color: rgb(216, 230, 236)" routerLink="/students/add">Add Student</button>
<table class="table-container" style="width:15%; background-color: rgb(216, 230, 236); vertical-align: top; " class="center">
    <tr >
        <td >
            <thead >
                <th (click)="sortRegNo()">
                    Reg. No.
                </th>
                <th (click)="sortName()">
                    Name
                </th>
                <!-- <th (click)="sortAge()">
                    Age
                </th> -->
                <th (click)="sortDept()">
                    Department
                </th>
                <th>More...</th>
                <th>
                    Action
                </th>
            </thead>
    <tr
        *ngFor="let student of (studentInfo | studentFilter: nameFilter | paginate: { id: 'list', itemsPerPage: limit, currentPage: page, totalItems: totalRecords} )">
        <td>{{ student.regNo }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.dept }}</td>
        <td>
            <app-item-popover [data]="student"></app-item-popover>
        </td>
        <td>
            <div>
            <button mat-raised-button [routerLink]="['/students', student.id, 'view']">
                View
            </button>
            <button mat-raised-button (click)="onEdit(student)">
                Edit
            </button>
        </div>
        </td>
    </tr>
    <pagination-controls id="list" (pageChange)="page = $event"></pagination-controls>
    <select [(ngModel)]="limit">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</table>
</div>