<p>list works!</p>
<div>
<input type="text" name="search" [(ngModel)]="nameFilter" placeholder="search by name">
<!--{{ studentInfo | studentFilter: "1" | json }}-->

</div>
<button routerLink="/students/add">Add Student</button>
<table>
    <tr>
        <td>
            <thead>
                <th (click)="sortData()">
                    Reg. No.
                </th >
                <th (click)="sortName()">
                    Name
                </th>
                <th (click)="sortAge()">
                    Age
                </th>
                <th (click)="sortDept()">
                    Department
                </th>
                <th>
                    Action
                </th>
            </thead>
    <tr *ngFor="let student of (studentInfo | studentFilter: nameFilter )">
        <td>{{ student.regNo }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.dept }}</td>
        <td>
            <!-- <button routerLink="/students/{{student.id}}/view">
                View
            </button> -->
            <!-- <button [routerLink]="['/students/' + student.id + '/view']">
                View
            </button> -->
            <button [routerLink]="['/students', student.id, 'view']">
                View
            </button>
            <!-- <button [routerLink]="'/students/' + student.id + '/view'">
                View
            </button> -->
            <button (click)="onEdit(student)">
                Edit
            </button>
        </td>
    </tr>
</table>