<p>list works!</p>

<!-- {{ studentInfo | json }} -->
<button routerLink="/students/add">Add Student</button>
<table>
    <thead>
        <th>
            Reg. No.
        </th>
        <th>
            Name
        </th>
        <th>
            Age
        </th>
        <th>
            Department
        </th>
        <th>
            Action
        </th>
    </thead>
    <tr *ngFor="let student of studentInfo | async">
        <td>{{ student.regNo }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.dept }}</td>
        <td>
            <!-- <button routerLink="/students/{{student.id}}/view">
                View
            </button> -->
            <!-- <button [routerLink]="['/students/' + student.id + '/view']">
                View
            </button> -->
            <button [routerLink]="['/students', student.id, 'view']">
                View
            </button>
            <!-- <button [routerLink]="'/students/' + student.id + '/view'">
                View
            </button> -->
            <button (click)="onEdit(student)">
                Edit
            </button>
        </td>
    </tr>
</table>